.detail {
  padding: 1em;
}

.description {
  white-space: pre-wrap;
  color: white;
  padding-left: 5em;
  border-bottom: 1px solid var(--gray-text);
  padding-bottom: 2em;
  margin-bottom: 1.5em;
}

.tag {
  margin-bottom: 0;
  font-size: 0.7em;
  color:#3ea6ff;
  font-family: auto;
}

.title {
  margin-top: 0;
  color: white;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
}

.videoInfo {
  border-bottom: 1px solid var(--gray-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.videoPrimaryInfo {
  color: var(--gray-text);
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.videoSecondInfo {
  display: flex;
  gap: 1.5em;
}

.hits:after {
  content:"•";
  color: var(--gray-text);
  margin: 0 5px;
}

.channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}

.channelTitle {
  color: white;
}

.channelInfo {
  display: flex;
  align-items: center; 
}

.imgWrap {
  width: 3em;
  height: 3em;
  flex-shrink: 0;
  margin-right: 1em;
}

.img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subscriber {
    color: var(--gray-text);
    font-size: 13px;
}

.subscribeBtn {
  width: 60px;
  height: 35px;
  color: white;
  background-color: rgb(204, 1, 1);
  border: none;
  border-radius: 3px;
  font-weight: 500;
  line-height: 35px;
  cursor: pointer;
}

.commentCount {
  color: white;
  font-size: 1.1em;
}

.commentList {
  padding: 0;
}