body {
  background: #171617;
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 70%;
}

.nav {
  width: 15em;
  background-color: #212121;
  padding-right: 1em;
}

.list {
  flex: 1 1 30%;
  padding: 0.5em 1em;
}

/* 780 */
@media screen and (max-width: 48rem) {
  .content {
    flex-direction: column;
  }
}