.toolbar {
    display: flex;
    align-items: center;
    margin-top: 0.3em;
}

.thumbsUp {
    display: flex;
    align-items: center;
}

.thumbsUpIcon {
    padding: 0.6em;
    margin-left: -0.6em;
}

.thumbsUpCount {
    color: #aaa;
    margin-right: 1.5em;
}