body {
  background: #171617;
}


.content {
  display: flex;
  padding: 2em;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

/* 780 */
@media screen and (max-width: 48rem) {
  .content {
    flex-direction: column;
  }
}